* {
	margin: 0;
}

body {
	background-color: #151515;
}

container {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 32px;
}

.timer {
	display: flex;
	flex-direction: column;
	width: 400px;
	height: 232px;
	font-family: "Inter", sans-serif;
	font-size: 19px;
	color: #f9f9f9;
	border-radius: 8px;

	background: linear-gradient(
		180deg,
		#414141 0%,
		rgba(0, 0, 0, 0.78) 24.48%,
		rgba(97, 97, 97, 0.17) 100%
	);
	background-color: rgba(0, 0, 0, 0.68);
}

.timer h1 {
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
	font-family: "Inter", sans-serif;
	font-size: 19px;
	position: relative;
	padding-top: 8px;
	padding-left: 13px;
	justify-content: flex-start;
	margin-right: 67px;
}

.timer__wrapper {
	padding: 1px;
	border-radius: 8px;
	background: linear-gradient(
		180deg,
		#c7c7c7 0%,
		rgba(199, 199, 199, 0) 100%
	);
}

.timer__header {
	display: flex;
	justify-content: flex-start;
	width: 400px;
}

.timer__header button {
	font-family: "Inter", sans-serif;
	font-weight: bold;
	font-size: 16px;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
	color: white;
	width: 32px;
	height: 32px;
	border: none;
	border-radius: 6px;
	margin-top: 8px;
	margin-left: 4px;
	margin-right: 4px;
}

button.phaseOne:hover,
button.phaseTwo:hover,
button.phaseThree:hover,
button.reset:hover {
	outline: #ffffff solid 2px;
}

button.phaseOne {
	background: linear-gradient(
		180deg,
		#ffffff 0%,
		#75a41c 6.25%,
		#a9c42d 70.83%,
		#efff03 100%
	);
}

button.phaseTwo {
	background: linear-gradient(
		180deg,
		rgba(255, 255, 255, 0.952969) 0%,
		#888888 8.33%,
		rgba(67, 67, 67, 0.57) 100%
	);
}

button.phaseThree {
	background: linear-gradient(
		180deg,
		rgba(255, 255, 255, 0.952969) 0%,
		#888888 8.33%,
		rgba(67, 67, 67, 0.57) 100%
	);
}

.timer__section {
	position: relative;
	padding: 1px;
	padding-left: 12px;
	padding-top: 8px;
	height: 112px;
	width: 184px;
	color: #fff;
}

.timer__container {
	display: flex;
	flex-direction: row;
	width: 368px;
	border-radius: 8px;
	background: linear-gradient(
		180deg,
		#414141 0%,
		rgba(0, 0, 0, 0.78) 24.48%,
		rgba(97, 97, 97, 0.17) 100%
	);
	background-color: rgba(0, 0, 0, 0.88);
}

.timer__container-borderWrap {
	border-radius: 8px;
	margin-top: 8px;
	margin-left: 12px;
	width: 368px;
	padding: 1px;
	border-radius: 8px;
	background: linear-gradient(
		180deg,
		#c7c7c7 0%,
		rgba(199, 199, 199, 0) 100%
	);
}

.timer__section h3 {
	font-family: "Inter", sans-serif;
	font-size: 16px;
	color: #8c8c8c;
}

.timer__nextFMA,
.timer__runTimer {
	font-size: 36px;
}

.timer__FMAtime {
	font-size: 24px;
	color: #8c8c8c;
	margin-top: 8px;
}

.timer__section-wrapper {
	display: flex;
	justify-content: flex-end;
	margin-right: 8px;
}

button.reset {
	filter: drop-shadow(0.75px 0.75px 1.5px rgba(0, 0, 0, 0.25));
	width: 32px;
	height: 32px;
	border: none;
	border-radius: 6px;
	background: linear-gradient(
		180deg,
		#ffffff 0%,
		#75a41c 6.25%,
		#a9c42d 70.83%,
		#efff03 100%
	);
	border-radius: 6px;
	margin-top: 6px;
	padding-top: 2px;

	display: flex;
	justify-content: center;
	align-items: center;
}
